/* 
@media (min-width: 0px) and (max-width: 499px) {
    h1 {color:indigo; font-style: italic;}
}
*/

/* div.div$*4 creates 4 divs with indexed class names eg: div1, div2, div3...*/

body {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:gray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 60px;
}

ul li a {
    display:inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
            font-family: "inter", sans-serif;
            font-style: "semibold";
            font-weight: 500;
    border-radius: 4px;
}

ul li a:hover {
    background-color:darkgray;
    cursor: pointer;
}

ul li:first-child {
    margin-right: auto;
}

ul img:hover {
    transform: scale(1.15);
    transition: transform 0.1s ease-in;
    cursor: pointer;
}

.brand_desc {
    text-align: center;
    padding-left: 12%;
    padding-right: 12%;
}

.top-grid-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 12px;
    max-width: 620px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
}

.top-grid-layout img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
    border-radius: 10px;
}

.top-grid-layout img:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in;
    cursor: pointer;
}

.tgi-1 {
    grid-column-start: 1;
    grid-row: 1;
}

.tgi-2 {
    grid-column-start: 2;
    grid-row: 1;
}

.tgi-3 {
    grid-column-start: 3;
    grid-row: 1;
}

.tgi-4 {
    grid-column-start: 4;
    grid-row: 1;
}

.tgi-5 {
    grid-column-start: 1;
    grid-row: 2;
}

.tgi-6 {
    grid-column-start: 2;
    grid-row: 2;
}

.tgi-7 {
    grid-column-start: 3;
    grid-row: 2;
}

.tgi-8 {
    grid-column-start: 4;
    grid-row: 2;
}

.catalog-button {
    grid-column: 1 / -1;
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.catalog-button button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.catalog-button button:hover {
    transform: scale(1.1);
    transition: transform 0.1s ease-in
}


.grid-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 220px);
    gap: 25px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 25px;
    padding-top: 25px;
    background-color: #f2f2f2;
}

.grid-item1 {
    grid-column-start: 1;
    grid-row: 1;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.grid-item2 {
    grid-column-start: 1;
    grid-row: 2;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.grid-item3 {
    grid-column-start: 1;
    grid-row: 3;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.grid-item4 {
    grid-column: 2;
    grid-row: 2;
    text-align:center;
    display: flex;
    align-items: center;
}

.grid-item5 {
    grid-column-start: 3;
    grid-row: 1;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.grid-item6 {
    grid-column-start: 3;
    grid-row: 2;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.grid-item7 {
    grid-column-start: 3;
    grid-row: 3;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.grid-item8 {
    grid-column-start: 4;
    grid-row: 2;
    text-align: center;
    display: flex;
    align-items: center;
}

#pagesplit {
    /*width: 1480px;*/
    /*height: 820px;*/
    width: 100%;
    max-width: 1480px;
    height: auto;
    display: block;
    margin: 0 auto;
}

p, .grid-item4, .grid-item8 {
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
            font-family: "inter", sans-serif;
            font-style: "semibold";
            font-weight: 300;
    margin: 30px;
    padding: 0px;
}

h1, h2, h3, h4, h5{
            font-family: "inter", sans-serif;
            font-style: "semibold";
            font-weight: 700;
    margin: 10px;
    padding: 30px;
}

h3 {
    font-size: large;
    text-align: center;
    padding: 0px;
}

h5 {
    text-decoration: underline;
    font-size: large;
    text-align: center;
    padding: 0px;
}

.stock {
    text-align: center;
}

.summary p {
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
}

.grid-item1:hover, .grid-item2:hover, .grid-item3:hover, .grid-item5:hover, .grid-item6:hover, .grid-item7:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in;
    cursor: pointer;
}

.grid-item4:hover, .grid-item8:hover {
    transform: scale(0.9);
    transition: transform 0.1s ease-in;
    cursor: pointer;
}

.grid-item4, .grid-item8 {
    font-size: large;
}

.review-grid-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: 12px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

.review-grid-layout img {
    border-radius: 10px;
}

.review-grid-layout img:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in;
    cursor: crosshair;
}

.rev1 {
    grid-column-start: 1;
}

.rev2 {
    grid-column-start: 2;
}

.rev3 {
    grid-column-start: 3;
}
